@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        body {
            background-color: #F5F5DC;
        }
    </style>
</head>


<div class="text-center">
    <h1 class="display-4">Dobrodošli</h1>
    <p>Pratite popis autoškola s priloženim timovima koje čine instruktor/ica, automobil i kandidat/kinja.</p>

    <img src="https://civilna-zastita.gov.hr/UserDocsImages//CIVILNA%20ZA%C5%A0TITA/Ilustracije/auto%C5%A1kola.jpeg">
</div>
